#Section1 {
  background-color: #0000A0;
}
#Section2{
  background-color: #800080;
}
#Section3{
  background-color: #FF0080;
}
#legend1{
  background-color: #0000A0;
}
#legend2{
  background-color:#800080;
}
#legend3{
  background-color: #FF0080;
}
